---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign preprints = site.publications | where: "category", "preprint" | sort: "date" | reverse %}
{% assign published = site.publications | where_exp: "post", "post.category != 'preprint'" | sort: "date" | reverse %}

{% if published.size > 0 %}
  <h2>Publications</h2>
  {% for post in published %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

{% if preprints.size > 0 %}
  <h2>Preprints</h2>
  {% for post in preprints %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
